html {
  scroll-behavior: smooth;
}
body{
	margin: 0;
	padding:0;
}
p{
	font-size: 24px;
}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	
}
#header h1{
	padding-top: 10px;
	font-stretch: 3px;
	font-size: 50px;
	font-family: 'Turret Road', cursive;
	float: left;
	letter-spacing: 5px;
	color: white;
}
#header{
     background-image: url("https://media.gettyimages.com/photos/portrait-of-buffalo-shepherd-picture-id652550482?s=2048x2048");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
	height: 370px;
	text-align: center;
}
#toggle{
background-color: grey;
}

#toggle .container li{
	display: inline-block;
	padding-right:  60px;
	font-size: 30px;
}
a{
	text-decoration: none;
	color: black;
	transition-duration: 0.2s;
}
a:hover{
	color: white;
	
}
#main{
	font-family: 'Raleway', sans-serif;
	background-color: #EAEDED ;
}
#main  .subsidy1 img{
height: 200px;
overflow: hidden;
}
#main  .subsidy2 img{
height: 200px;
overflow: hidden;
}
#main  .subsidy3 img{
height: 200px;
overflow: hidden;
}
#bc{
	text-align: center;
	background-color:grey;
	color: white;
}