#main{
	background-color: #AEB6BF ;
	font-family: 'Raleway', sans-serif;
	width: 80%;
	margin: auto;
	text-align: center;
	font-size: 20px;
}
#main li{
		
		padding: 10px;
}

h1{
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	letter-spacing: 2px;
}